failing to match application/json with application/json :(

Had this really strange error with my requests failing, managed to trace it down to this library:

```
var typeis = require('type-is')

typeis.is('application/json', ['json']) //returns: 'json'
typeis.is('application/json', ['application/json']) //returns 'application/json'
typeis.is('application/json; charset=UTF-8', ['application/json']) //returns 'application/json'
typeis.is('application/json; charset=UTF-8 application/json', ['application/json']) //returns false ?!?!?!
```

Apparently Chrome is sending Content-type `application/json; charset=UTF-8 application/json` where as Firefox sends `application/json; charset=UTF-8`.

In other words, all my Chrome requests are failing :(


Yes, we will never match that string. Can you provide me instructions on how I can make my Chrome send the same thing?

Basically this is absolutely not a bug in this library and it will not be changed, but I am happy to help you determine why your Chrome browser is sending nonsense.

You're right, this is not a problem with type-is but in chrome. Apparently assigning xhr request with `content-type` more than once will cause it to append both headers. This is how I got this error:

```
xhr.setRequestHeader("Content-Type", "application/json; charset=utf-8");
xhr.setRequestHeader("Content-Type", "application/json");
```

Pretty strange behaviour in Chrome in my opinion.

P.S.
The cause for the double-assigning of `Content-Type` is because I was using an ajax javascript library and forcing it to set `Content-Type` to json when the library itself also did it internally (without my knowledge).

> Pretty strange behaviour in Chrome in my opinion.

Indeed, especially since that produces `application/json; charset=utf-8 application/json` as a single header. You see, HTTP specifies that `Content-Type` is a header that can only appear once in the raw request, and so that means that Chrome is actually like joining those two together with a space for some reason. I can't fathom why, though :)

> I'll do a pull request to the library and ask them to add ';' at the end of their conten-type line just in case the browsers do append the request headers.

I'm not sure if this will help, exactly, because even `application/json; charset=utf-8; application/json` is invalid. You can find more about what the syntax of the content-type header should be in [RFC 7231, section 3.1.1.5](https://tools.ietf.org/html/rfc7231#section-3.1.1.5). Specifically, here is the BNF:
```
Content-Type = media-type
media-type = type "/" subtype *( OWS ";" OWS parameter )
type = token
subtype = token
parameter = token "=" ( token / quoted-string )
```
So you see, you would still end up with a string there there is an invalid parameter. There is a module on npm "content-type" that you can use to validate if they are well-formed or not :)

Ahh, okay. I actually thought `application/json; charset=utf-8; application/json` was valid. Yeah, it's really strange behavior in Chrome.

I'll have to do some more testengin and maybe send Chrome a bug report? :b