Not correct verifying application/json

Consider the next example: 

```javascript
var e= require("type-is")
e.is({headers:{"content-type": "application/json,application/json"}}, "application/json")
// Show false
```

Is showing false, and must be application/json

Nodejs: v6.50
Windows 10 x64, Ubuntu 16.04 x64

Yes, you are seeing the documented behavior. From the readme:

> false will be returned if no type matches or the content type is invalid.

You are seeing false because the content-type header "application/json,application/json" is invalid.

No, Laravel capture the request correctly, and process the body as JSON

@voxsoftware can you point me to the specification that says the string `application/json,application/json` is a valid Content-Type header? I am using RFC 7231 section 3.1.1.1 (https://tools.ietf.org/html/rfc7231#section-3.1.1.1) for the specification of the header grammar. The issue in your header is that the comma is an unexpected character according to the specification I am using. I'm glad to take a look at another one if you can point me at it.

Ok and this:

```javascript 
var e= require("type-is")
e.is({headers:{"content-type": "application/json;"}}, "application/json")
// show false too
```

I know the specification, but you could be flexible to specification, and capture other request that are not exactly valids. This package is part of BodyParser

@voxsoftware the string `application/json;` is also invalid based on the grammar in RFC 7231 section 3.1.1.1, which is the only specification I am aware of for the HTTP Content-Type header. If you know another one I should look at, please let me know.

For reference, here is the ABNF for the header from the RFC:
```
     media-type = type "/" subtype *( OWS ";" OWS parameter )
     type       = token
     subtype    = token
```



> I know the specification, but you could be flexible to specification, and capture other request that are not exactly valids

Sorry, no.

> This package is part of BodyParser

That package allows you to give a function to do whatever type of parsing you desire, even allowing non-sense headers.

Not all the clients send the headers correctly, and it's important that the type valider are most flexible possible. For example Laravel PHP capture correctly these Header. I understand your point, but you please understand my point. 



I understand your point, yes, and I choose to be strict. We had some security issues a while back because we were being too liberal and it was brought up then that if you are not following the specification, what are you following? You'll need to choose a different module if you would like that behavior, because I'm not going to get more security CVE's file against the module.